:root {
    --primary-color: #496937;
    --secondary-color: #E7632A;
    --text-color: #333;
    --white-color: #fff;
    --light-gray: #f4f4f4;
    --font-regular: 'OnestRegular1602-hint', sans-serif;
    --font-medium: 'OnestMedium1602-hint', sans-serif;
    --font-light: 'OnestLight1602-hint', sans-serif;
    --font-bold: 'OnestBold1602-hint', sans-serif;
    --font-gogol: 'gogol_regular', sans-serif;
    --container-width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gogol_regular';
    src: url('fonts/gogol_regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestThin1602-hint';
    src: url('fonts/OnestThin1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestRegular1602-hint';
    src: url('fonts/OnestRegular1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestMedium1602-hint';
    src: url('fonts/OnestMedium1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestLight1602-hint';
    src: url('fonts/OnestLight1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestExtraBold1602-hint';
    src: url('fonts/OnestExtraBold1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestBold1602-hint';
    src: url('fonts/OnestBold1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OnestBlack1602-hint';
    src: url('fonts/OnestBlack1602-hint.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: var(--font-regular);
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    background: var(--light-gray);
    padding: 1.4rem 0;
    border-radius: 0 0 1.875rem 1.875rem;
    margin-bottom: -1.25rem;
    position: relative;
    z-index: 10;
    display: flex; 
    align-items: flex-end;
}

header .logo-container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 1rem;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header .logo {
    margin-right: auto; 
}


header .contact-info {
    display: flex;
    align-items: flex-start;
    position: static;
    margin-left: 0;
    margin-top: 0;
    gap: 20rem;
    margin-left: 30%; 
}

header .contact-info .address-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

header .contact-info .time {
    font-size: 0.7rem;
    color: #1E1E1EB2;
    margin: 0;
    margin-bottom: 0.1rem;
}

header .contact-info .address {
    font-size: 1.1rem;
    color: black;
    margin: 0;
    font-family: var(--font-regular);
}

header .contact-info .phone {
    font-size: 1.1rem;
    color: black;
    margin: 0;
    font-family: var(--font-regular);
    margin-bottom: 0;
    align-self: flex-end; 
}
    
header .logo3 {
    display: flex;
    align-items: center;
    position: absolute; 
    right: 1rem; 
    margin-top: 0;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url('images/sharpei.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--white-color);
    text-align: center;
    padding-bottom: 4rem;
}

.hero-content {
    max-width: 56.25rem;
    padding: 1.25rem;
}

.hero-content h1 {
    margin: 0 0 0.625rem;
    font-family: var(--font-bold);
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-content h1 .subtitle {
    font-family: var(--font-gogol);
    font-size: 4.375rem;
}

.hero-content .description {
    margin: 0 0 2.525rem;
    font-family: var(--font-light);
    font-size: 1.875rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
}

.hero-content button {
    padding: 1rem 4rem;
    font-size: 1.3rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font-family: var(--font-regular);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    min-width: 18.75rem;
}

.hero-content button .paw-icon {
    width: 1.8rem;
    height: 1.8rem;
}

.white-rectangle {
    background-color: var(--white-color);
    padding: 5rem 1.25rem 7.5rem;
    margin-top: -0.875rem;
    position: relative;
    z-index: 5;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    overflow: visible;
    height: 95vh;
    width: 100%;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.6);
}

.rectangle-content {
    width: 100%;
    height: 100%;
    padding: 0 1.25rem;
    position: relative;
}

.oval-stripe {
    display: inline-block;
    margin-left: 0.2rem;
    padding: 0.625rem 1.875rem;
    border: 2px solid var(--primary-color);
    border-radius: 3.125rem;
    background-color: var(--white-color);
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 10;
}

.oval-stripe h2 {
    font-family: var(--font-bold);
    font-size: 1.75rem;
    color: var(--primary-color);
    margin: 0;
}

.image-container {
    position: relative; 
    flex: 0 1 calc(33.333% - 0.2rem); 
    min-width: 0;
}

.image-caption {
    position: absolute;
    bottom: 140px; 
    left: 10px; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-light);
    font-size: 1.5rem;
    line-height: 1.2;
}

.image-row {
    display: flex;
    gap: 1rem; 
    width: auto; 
    margin: 2rem 0 0 0;
    padding-left: 0;
    max-width: 100%;
    max-height: 100%; 
}
.rounded-image {
    flex: 0 0 auto; 
    min-width: 0;
    object-fit: contain;
    border-radius: 1.5625rem;
    max-height: 83%; 
    width: auto;  
    height: auto; 
}

.green-background {
    background-color: var(--primary-color);
    padding: 6.25rem 0;
    position: relative;
    z-index: 1;
    min-height: 62.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green-background-content {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    color: var(--white-color);
    padding: 0 1.25rem;
    width: 100%;
    position: relative;
}

.oval-stripe-about {
    position: absolute;
    padding: 0.625rem 1.875rem;
    border: 2px solid var(--white-color);
    border-radius: 3.125rem;
    background-color: var(--primary-color);
    z-index: 10;
    left: 1rem; 
     top: 1.25rem;
    margin: 0;
}
.oval-stripe-about h2 {
    font-family: var(--font-bold);
    font-size: 1.75rem;
    color: var(--white-color);
    margin: 0;
}


.passion-text {
    font-family: var(--font-bold);
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: -1.5625rem;
}

.care-text {
    font-family: var(--font-gogol);
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: -2.8125rem;
}

.principles-text {
    font-family: var(--font-bold);
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: -2.5rem;
}

.our-work-text {
    font-family: var(--font-bold);
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: 1.25rem;
}

.description-text {
    font-family: var(--font-light);
    font-size: 1.5625rem;
    color: var(--white-color);
    line-height: 1.6;
    text-align: left;
    max-width: 37.5rem;
    margin: 0;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.25rem;
    margin-top: 5rem;
    width: 100%;
    padding: 0 1.25rem;
    position: relative;
    z-index: 10;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 1.5625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.grid-item.wide {
    grid-column: span 2;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-item p {
    position: absolute;
    bottom: 0.625rem;
    left: 0.625rem;
    color: var(--white-color);
    font-family: var(--font-bold);
    font-size: 1.125rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
}

.bottom-left-image {
    position: absolute;
    left: -1rem;
    top: 31.5rem;
    z-index: 10;
}
  
.bottom-left-image img {
      width: 50rem;
      height: auto;
      border-radius: 0.9375rem;
}

.small-images {
    position: absolute;
    top: 0;
    right: 1rem;
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

.arrow-button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button.left {
    background-color: #D6E8D4;
}

.arrow-button.right {
    background-color: #6F8C5F;
}

.arrow-svg {
  width: 1rem;
    height: 1rem;
}

.arrow {
  position: relative;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
}

.bottom-right-image {
    position: absolute;
    right: 0.625rem;
    bottom: -14rem;
    z-index: 20;
    width: 10rem;
    height: auto;
}

.oval-stripe-about {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    border: 2px solid var(--white-color);
    border-radius: 3.125rem;
    background-color: var(--primary-color);
    margin-bottom: 1.25rem;
     margin-left: 0.2rem;
    position: relative;
    top: 6.4rem;
    z-index: 10;
}

.oval-stripe-about h2 {
    font-family: var(--font-bold);
    font-size: 1.75rem;
    color: var(--white-color);
    margin: 0;
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 20px; 
    text-align: left;
      margin-left: 32rem; 
     padding-right: 5rem; 
}

.bottom-image {
    margin-top: -4.375rem;
    text-align: center;
}

.bottom-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.9375rem;
}

.full-width-image {
    position: relative;
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    top: -3.75rem;
}

.form-background {
    width: 100%;
    height: auto;
    display: block;
}

.form-content {
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-2%, -85%);
    background-color: transparent;
    padding: 1rem;
    max-width: 100%; 
    max-height: 80%;
    text-align: left;
}

.form-title {
    font-size: 3.5rem;
    color: var(--white-color);
    font-family: var(--font-bold);
    margin-bottom: 0.625rem;
}
.form-subtitle {
    font-size: 1.875rem;
    color: var(--white-color);
    font-family: var(--font-light);
    margin-bottom: 5rem;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form-input {
    padding: 1.5rem;
    border: 1px solid var(--white-color);
    border-radius: 0.9375rem;
    font-size: 1rem;
    font-family: var(--font-regular);
    background-color: transparent;
    color: var(--white-color);
    height: 5rem;
}

.form-input::placeholder {
    color: var(--white-color);
}

.form-separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1.25rem 0;
}

.form-button {
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.9375rem;
    font-size: 1.2rem;
    font-family: var(--font-regular);
    cursor: pointer;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-disclaimer {
    font-size: 0.8rem;
    color: white;
    font-family: var(--font-light);
    margin-top: 1.25rem;
    text-align: left;
}

.services-section {
    margin-top: 3.75rem;
    text-align: left;
    padding: 0 1.25rem;
    position: relative;
    z-index: 10;
}


.services-description {
    flex: 1; 
    text-align: left; 
}

.services-description p {
    font-family: var(--font-bold); 
    font-size: 4.375rem; 
    color: var(--white-color); 
    line-height: 1.2; 
    margin: 0;
}

.oval-stripe-services {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    border: 2px solid var(--white-color);
    border-radius: 3.125rem;
    background-color: var(--primary-color);
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 10;
    align-self: flex-start;
    left: 1rem;
}

.oval-stripe-services h2 {
    font-family: var(--font-bold);
    font-size: 1.75rem;
    color: var(--white-color);
    margin: 0;
}


.services-text {
    position: absolute;
    top: 1.3rem;   
    left: 35rem;   
}

.services-line1 {
    font-family: var(--font-bold);
    font-size: 3.6rem;
    color: var(--white-color);
    margin: 0;
    display: inline-block; 
}

.services-line2, .services-line3 {
    font-size: 3.6rem;
    color: var(--white-color);
    margin: 0;
    display: block; 
    margin-bottom: 0rem; 
}

.services-line2 {
    font-family: var(--font-gogol);
}

.services-line3 {
    font-family: var(--font-bold);
}

.services-line4 {
    font-family: var(--font-bold);
    font-size: 3.6rem;
    color: var(--white-color);
    margin-bottom: 10rem;
    display: block;  
}
.services-image {
    position: absolute;
    left: 0;
    bottom: 3.125rem;
    z-index: 20;
    transform: translateX(-10%);
    order: 2; 
    align-self: flex-end; 
    margin-bottom: 0; 
    position: absolute; 
    right: 0; 
    bottom: 0; 
}

.horizontal-images-container {
    width: 100%;
    display: flex;
    gap: 1%;
    padding-left: 1.2rem;
    margin: 28.3rem 0 0;
    position: relative;
    z-index: 20;
}

.horizontal-images-container .image-caption5 {
    position: absolute;
    bottom: 5rem; 
    left: 2rem; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-medium);
    font-size: 2.5rem;
    line-height: 1.2;
    z-index: 1; 
}

.horizontal-images-container .image-caption6 {
    position: absolute;
    bottom: 2rem; 
    left: 2rem;  
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-light);
    font-size: 1.5rem;
    line-height: 1.2;
    z-index: 1;    
}

.horizontal-images-container .image-caption7 {
    position: absolute;
    bottom: 5rem;   
    left: 32.2rem;    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-medium);
    font-size: 2.5rem;
    line-height: 1.2;
    z-index: 1;    
}

.horizontal-images-container .image-caption8 {
    position: absolute;
    bottom: 2rem;   
    left: 32.2rem;    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-light);
    font-size: 1.5rem;
    line-height: 1.2;
    z-index: 1;    
}

.horizontal-images-container .image-caption9 {
    position: absolute;
    bottom: 5rem;   
    left: 62.2rem;    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-medium);
    font-size: 2.5rem;
    line-height: 1.2;
    z-index: 1;    
}

.horizontal-images-container .image-caption10 {
    position: absolute;
    bottom: 2rem;   
    left: 62.2rem;    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-light);
    font-size: 1.5rem;
    line-height: 1.2;
    z-index: 1;    
}

.image-wrapper .image-caption1 {
    position: absolute;
    bottom: 3rem;   
    left: 2rem;    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-light);
    font-size: 1.5rem;
    line-height: 1.2;
    z-index: 1;    
}

.image-wrapper .image-caption2 {
    position: absolute;
    bottom: 3rem;   
    left: 25rem;    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-light);
    font-size: 1.5rem;
    line-height: 1.2;
    z-index: 1;    
}

.image-wrapper .image-caption3 {
    position: absolute;
    bottom: 3rem;   
    left: 47rem;    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-light);
    font-size: 1.5rem;
    line-height: 1.2;
    z-index: 1;    
}

.image-wrapper .image-caption4 {
    position: absolute;
    bottom: 3rem;   
    left: 70rem;    
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--font-light);
    font-size: 1.5rem;
    line-height: 1.2;
    z-index: 1;    
}
.services-image {
    position: relative;
    z-index: 15;
    bottom: -7.5rem;
}

.image-wrapper {
    width: 24%;
    max-width: 100%;
    height: 25rem;
    border-radius: 0.9375rem;
    overflow: hidden;
}

.image-wrapper img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.services-image {
    position: relative;
    z-index: 10;
    margin-top: 23.7rem;
    margin-left: 6rem;
    text-align: center;
}

.services-image img {
    width: 42rem;
    height: auto;
    position: absolute; 
    bottom: 0; 
    left: 0;
}

.all-services-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 11rem;
    position: relative;
    z-index: 25;
}

.round-button img {  
    width: 1rem;
    height: 1rem;
}

.round-button.left {
    background-color: #5f7b4f;
    border: none;
    width: 3.5rem;
  height: 3.5rem;
}

.round-button.right {
    background-color: #6F8C5F;
    border: none;
    width: 3.5rem;
  height: 3.5rem;
}

.arrow-svg {
    width: 1rem;
    height: 1rem;
}

.all-services-button {
    padding: 1.5625rem 10rem;
    font-size: 1.75rem;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.9375rem;
    cursor: pointer;
    font-family: var(--font-medium);
    min-width: 25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
}

.image-navigation {
    position: absolute;
    top: -6rem;
    right: 1.5rem;
    display: flex;
    gap: 0.625rem;
    z-index: 30;
}

.round-button {
    background-color: rgba(255, 255, 255, 0.8); 
    border: none; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.round-button .arrow {
  width: 3.5rem;
  height: 3.5rem;
  border: solid var(--white-color);
  border-width: 0 0.1875rem 0.1875rem 0;
  display: inline-block;
  padding: 0.1875rem;
}

.round-button.left .arrow {
  transform: rotate(135deg) translate(-0.125rem, 0);
}

.round-button.right .arrow {
  transform: rotate(-45deg) translate(-0.125rem, 0);
}

.specialists-section {
    margin-top: 3.75rem;
    padding: 0 1.25rem;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.oval-stripe-specialists {
  display: inline-block;
    padding: 0.625rem 1.875rem;
    border: 2px solid var(--white-color);
    border-radius: 3.125rem;
    background-color: var(--primary-color);
    margin-bottom: 1.25rem;
    position: relative;
    left: 2rem;
    z-index: 10;
  align-self: flex-start;
}

.oval-stripe-specialists h2 {
    font-family: var(--font-bold);
    font-size: 1.75rem;
    color: var(--white-color);
    margin: 0;
}

.specialists-text {
    position: absolute;
    top: 314rem;
    left: 35rem;
}

.specialists-line1,
.specialists-line2,
.specialists-line3 {
    font-family: var(--font-bold);
    font-size: 3.1rem;
    color: var(--white-color);
    margin: 0;
    text-align: left;
    width: 100%;
}

.specialists-line1 {
    margin-bottom: -1.8rem;
}

.specialists-line2 {
    font-family: var(--font-gogol);
    margin-bottom: -2.125rem;
}

.specialists-line3 {
    font-family: var(--font-bold);
    margin-bottom: 1.25rem;
}

.specialists-image {
    position: relative;
    width: 100%;
    width: 93.75rem;
    z-index: 10;
    margin-top: 7.2rem;
    margin-left: -1.25rem;
}

.specialists-image img {
    width: 85%;
    height: auto;
    position: absolute;
}

.horizontal-images-section {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 20;
    margin-top: -15rem;
}

.horizontal-images-container .horizontal-image {
    width: 32%;
    height: auto;
    border-radius: 1.5625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.fixed-right-image {
    position: absolute;
    right: 2rem;
    bottom: 112rem;
    z-index: 30;
    width: 12.5rem;
    height: auto;
}

.fixed-right-image img {
    width: 100%;
    height: auto;
}

.full-width-image-section {
    width: 98%;
    margin: 0 auto;
    padding: 1.25rem 0;
    margin-top: 10rem;
    position: relative;
    z-index: 10;
}

.full-width-image-section img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2.1875rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.form-content-right {
    position: absolute;
    top: 48%;
    right: 8%;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 1.25rem;
    max-width: 50rem;
    text-align: left;
}

.form-content-right .form-title {
    font-size: 3.5rem;
    color: var(--white-color);
    font-family: var(--font-bold);
    margin-bottom: 2rem;
    line-height: 1.2;
}

.form-content-right .form-title-now {
    display: block;
    font-size: 3.7rem;
    font-family: var(--font-gogol);
    color: var(--white-color);
    margin-top: 0.1rem;
}

.form-content-right .form-subtitle {
    font-size: 1.8rem;
    color: var(--white-color);
    font-family: var(--font-light);
    margin-bottom: 3rem;
}

.form-content-right .form-fields {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.form-content-right .form-input {
    border: 1px solid var(--white-color);
    border-radius: 0.9375rem;
    font-size: 1.25rem;
    font-family: var(--font-regular);
    background-color: transparent;
    color: var(--white-color);
    height: 5rem;
}

.form-content-right .form-input::placeholder {
    color: var(--white-color);
}

.form-content-right .form-button {
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.9375rem;
    font-size: 1.5rem;
    font-family: var(--font-medium);
    cursor: pointer;
    width: 100%;
    height: 5.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content-right .form-disclaimer {
    font-size: 0.8rem;
    color: var(--white-color);
    font-family: var(--font-light);
    margin-top: 0.625rem;
    text-align: left;
}

footer {
    height: auto;
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 4rem;
}

.contacts-section {
    display: flex;
    background-color: var(--white-color);
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    height: auto;
    width: 100%;
}

.contacts-info {
    flex: 1;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    height: 50%;
}

.contacts-logo {
    margin-bottom: 1.25rem;
}

.contacts-logo-img {
    width: 13rem;
    display: block;
}

.contacts-address-phone {
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: left;
}

.contacts-address {
    font-size: 1.4rem;
    margin-bottom: 0.1rem;
    color: black;
    font-family: var(--font-regular);
}

.contacts-phone {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin-bottom: 0.01rem;
    font-family: var(--font-regular);
}


.contacts-time {
    font-size: 0.8rem;
    color: #777;
    font-family: var(--font-light);
}

.contacts-separator {
    border: 0;
    border-top: 2px solid #1E1E1E80;
    width: 32rem;
    margin-top: 1.25rem;
    margin-bottom: 2.7rem;
    align-items: center;
}

.contacts-links {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #777;
    font-family: var(--font-regular);
    gap: 2%;
}

.contacts-links a {
    color: #1E1E1E80;
    text-decoration: none;
    font-family: var(--font-regular);
}

.contacts-map {
    flex: 1.5;
    position: relative;
    width: 100%;
}

.contacts-map-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0.625rem 0.625rem 0;
}

.small-image-on-map {
    position: absolute;
    top: 49.5%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: auto;
}
